%h3 Medical History

= f.label :measles
= f.check_box :measles
%br
= f.label :mumps
= f.check_box :mumps
%br
= f.label :chickenpox
= f.check_box :chickenpox
%br
= f.label :whooping_cough
= f.check_box :whooping_cough
%br
= f.label :scarlet_fever
= f.check_box :scarlet_fever
%br
= f.label :diphtheria
= f.check_box :diphtheria
%br
= f.label :small_pox
= f.check_box :small_pox
%br
= f.label :pneumonia
= f.check_box :pneumonia
%br
= f.label :rheumatic_fever
= f.check_box :rheumatic_fever
%br
= f.label :heart_disease
= f.check_box :heart_disease
%br
= f.label :arthritis
= f.check_box :arthritis
%br
= f.label :venereal_disease
= f.check_box :venereal_disease
%br
= f.label :anemia
= f.check_box :anemia
%br
= f.label :bladder_infections
= f.check_box :bladder_infections
%br
= f.label :epilepsy
= f.check_box :epilepsy
%br
= f.label :migraine_headaches
= f.check_box :migraine_headaches
%br
= f.label :tuberculosis
= f.check_box :tuberculosis
%br
= f.label :diabetes
= f.check_box :diabetes
%br
= f.label :cancer
= f.check_box :cancer
%br
= f.label :polio
= f.check_box :polio
%br
= f.label :glaucoma
= f.check_box :glaucoma
%br
= f.label :inertia
= f.check_box :inertia
%br
= f.label :blood
= f.check_box :blood
%br
= f.label :back
= f.check_box :back
%br
= f.label :blood_pressure
= f.check_box :blood_pressure
%br
= f.label :hemorrhoids
= f.check_box :hemorrhoids
%br
= f.label :asthma
= f.check_box :asthma
%br
= f.label :hives_or_Eczema 
= f.check_box :hives_eczema
%br
= f.label :aids_or_hiv 
= f.check_box :aids_hiv
%br
= f.label :mono
= f.check_box :mono
%br
= f.label :bronchitis
= f.check_box :bronchitis
%br
= f.label :mitral_valve_prolapse
= f.check_box :mitral_valve_prolapse
%br
= f.label :stroke
= f.check_box :stroke
%br
= f.label :hepatitis
= f.check_box :hepatitis
%br
= f.label :ulcer
= f.check_box :ulcer
%br
= f.label :kidney_disease
= f.check_box :kidney_disease
%br
= f.label :thyroid_disease
= f.check_box :thyroid_disease
%br
= f.label :bleeding_tendency
= f.check_box :bleeding_tendency
%br
= f.label :other_disease
= f.text_field :other_disease
%br
= f.label :chest_xray
= f.date_field :chest_xray
%br
%br
= f.submit "Save"