%h1 Medical History

- @medical_histories.each do |m|
	Form Name:
	= m.form_name
	Description:
	= m.form_description
	%br
	= link_to "Show", medical_history_path(medical_history)
	= link_to "Edit", edit_medical_history_path(medical_history)
	= link_to "Delete", medical_history_path(medical_history), :method => :delete, :data => { :confirm => 'Are you sure?' }
	%br

= button_to 'Add New Form', new_medical_history_path, method: "get"
%br
%br
= button_to 'See All Forms', medical_histories_path, method: "get"